{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        please selecte the stock you want to sell:
        <select id = "symbol" name="symbol">
            <option disabled selected>stocks</option>
            {% for stock in stocks %}
                <option>{{ stock.symbol }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <br>
        the shares amount you want to sell:
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}